trainer:
  default_root_dir: ./saved_experiments
  max_epochs: 10
  precision: 32-true
  callbacks: 
    - class_path: lightning.pytorch.callbacks.ModelCheckpoint
      init_args:
        monitor: val_loss
        mode: min
        save_top_k: 1
    - class_path: lightning.pytorch.callbacks.EarlyStopping
      init_args:
        monitor: val_loss
        patience: 5
        mode: min
    - class_path: src.callbacks.codecarbon.CodeCarbonCallback
      init_args:
        project_name: "{{cookiecutter.project_name}}"
        save_to_file: False
        log_level: error
  logger:
    class_path: lightning.pytorch.loggers.CometLogger
    init_args:
      api_key: ${oc.env:COMET_API_KEY}
      workspace: ${oc.env:COMET_WORKSPACE}
      project: "{{cookiecutter.project_name}}"
model:
  class_path: DefaultNN
  init_args:
    in_channels: 1
    out_channels: 3
    criterion:
      class_path: torch.nn.CrossEntropyLoss
      init_args:
        reduction: mean
data:
  class_path: MNISTDataModule
  init_args:
    data_dir: ./data
    batch_size: 32
    num_workers: 4
optimizer:
  lr: 0.001
lr_scheduler:
  gamma: 0.1